# Các file rác hệ thống của Visual Studio
.vs/
*.vsidx
*.suo
*.user
*.userosscache
*.sln.docstates
*.json

# Thư mục sinh ra khi chạy code (Build Output)
[Bb]in/
[Oo]bj/
AppCoffe/bin/
AppCoffe/obj/

# Logs and packages
*.log
packages/

# VS generated
*.pdb
*.exe
*.dll
*.cache

# Resharper
_ReSharper*/
*.DotSettings.user
/AppCoffe/bin/Debug/AppCoffe.exe.config
